/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para los Enlaces */
a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para la Secci칩n de Aplicaciones */
#aplicaciones ul {
    list-style-type: none;
    padding: 0;
}

#aplicaciones li {
    background-color: #e0f7fa;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#aplicaciones li:hover {
    background-color: #b2ebf2;
}

/* Estilos para los Botones */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la Secci칩n de Ejercicios */
#ejercicio {
    margin-top: 20px;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el Contenedor */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilos para la Operaci칩n */
.operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centrar el texto */
}

#pregunta {
    font-size: 32px; /* Tama침o de fuente aumentado */
    margin-bottom: 20px;
}

/* Estilos para el Historial */
#historial {
    width: 30%;
}

#historial-select {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #ffffff;
    resize: none;
}

/* Estilos para los Botones Adicionales */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 10px;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #historial {
        width: 100%;
        margin-top: 20px;
    }
}
